<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Chat App Login</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="login-page">

    <!-- LEFT SIDE -->

    <div class="login-left">

        <div class="overlay"></div>

        <div class="left-content">

            <h1>
                💬 ChatApp
            </h1>

            <p>
                Modern Realtime Chat Application
            </p>

        </div>

    </div>

    <!-- RIGHT SIDE -->

    <div class="login-right">

        <div class="login-box">

            <h2>
                Welcome Back
            </h2>

            <p class="sub-text">
                Login to continue chatting
            </p>

            <form method="POST">

                <div class="input-group">

                    <input
                        type="text"
                        name="username"
                        placeholder="Enter Username"
                        required
                    >

                </div>

                <div class="input-group">

                    <input
                        type="password"
                        name="password"
                        placeholder="Enter Password"
                        required
                    >

                </div>

                <button type="submit">

                    Login

                </button>

            </form>

            <div class="bottom-text">

                Don't have an account?

                <a href="/register">

                    Create Account

                </a>
                <a href="/forgot_password">
                    Forgot Password?
                </a>
            </div>

        </div>

    </div>

</div>

</body>

</html>